<div class="HY-content-header clearfix">
	<h3 class="head-tax-rule">{warehouse_info.name} 库存查询 </h3>
	<p class="right">
		<button type="button" onclick="$('#excel_form').submit();">导出Excel</button>
	</p>
</div>

<form method="post" id="excel_form">
	<input type="hidden" name="excel" value="1">
</form>

<div class="HY-grid-title">
	<div class="HY-grid-title-inner">
		{warehouse_info.name} 库存查询
	</div>
</div>
<div class="HY-grid">
	<table cellspacing="0" class="data" id="grid_table">
		<thead>
			<tr class="header">
				<th width="100">SKU</th>
				<th width="100">产品ID</th>
				<th width="">产品名称</th>
				<th width="100">库房名称</th>
				<th width="100">货位</th>
				<th width="100">总数量</th>
				<th width="100">锁定数量</th>
				<th width="100">库存成本</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN list AS val -->
			<tr>
				<td align="center">{val.sku}</td>
				<td align="center">{val.product_id}</td>
				<td>
					{val.erp_sku}<b>名称：</b>{val.sku_info.product.name}
					<!-- IF val.sku_info.attribute --><b>属性：</b>{val.sku_info.attribute}<!-- ENDIF -->
				</td>
				<td align="center">{val.warehouse_name}</td>
				<td align="center">{val.place_name}</td>
				<td align="center">
					<font color="green"><b>{val.quantity}</b></font>
				</td>
				<td align="center">
					<font color="red"><b>{val.lock_quantity}</b></font>
				</td>
				<td align="center">
					&yen; {val.price}
				</td>
			</tr>
			<!-- END list -->
		</tbody>
	</table>
</div>

