
<div class="HY-grid">
	<table cellspacing="0" class="data" id="grid_table">
		<thead>
			<tr class="header">
				<th width=""><nobr>名称<nobr></th>
				<th width="90" align="center">操作</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN list AS info -->
			<tr>
				<td align="">手机属性</td>
				<td align="right"><a href="javascript:void(0);" onclick="ApplyAttributeTemplate({info.id})">应用</a> | <a href="javascript:void(0);" onclick="PreviewAttributeTemplate({info.id})">预览</a></td>
			</tr>
			<!-- END list -->
		</tbody>
	</table>
</div>
{page_bar}