<link href="css/cal/zpcal.css" rel="stylesheet" type="text/css">
<link href="css/cal/template.css" rel="stylesheet" type="text/css">
<link href="css/cal/maroon.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src='script/zapatec.js'></script>
<script type="text/javascript" src="script/calendar.js"></script>
<script type="text/javascript" src="script/calendar-zh.js"></script>

<div class="HY-content-header clearfix">
	<h3>待整理订单列表 </h3>
	<div class="right">
	</div>
</div>

<div class="HY-grid-title">
	<div class="HY-grid-title-inner">
		分页:{page_bar} 每页20条记录 总共{total}条记录 {page}/{page_num}
	</div>
</div>
<div class="HY-grid">
	<table cellspacing="0" class="data" id="grid_table">
		<thead>
			<tr class="header">
				<th width="60">订单号</th>
				<th width="70">渠道订单号</th>
				<th width="120">渠道</th>
				<th width="140">下单时间</th>
				<th width="60">总金额</th>
				<th width="80">客户名称</th>
				<th width="">产品详情</th>
				<th width="100">配送信息(查询:电话)</th>
				<th width="50">备注</th>
				<th width="100">操作</th>
			</tr>
			<tr class="filter">
				<form method="get" id="search_form">
				<th>
					<div class="input-field">
						<input type="hidden" name="mod" value="{_GET.mod}">
						<input type="text" name="id" id="id" value="{_GET.id}">
						<input type="hidden" name="excel" id="excel" value="0">
					</div>
				</th>
				<th>
					<div class="input-field">
						<input type="text" name="target_id" value="{_GET.target_id}">
					</div>
				</th>
				<th>&nbsp;
				</th>
				<th>
					<div class="input-from">
						<div class="clearfix">
							<div class="left">开始:</div>
							<input type="text" name="begin_date" id="begin_date" value="{_GET.begin_date}">
							<img src="image/grid-cal.gif" alt="" class="v-middle" id="begin_date_btn" />
						</div>
						<div class="clearfix">
							<div class="left">结束:</div>
							<input type="text" name="end_date" id="end_date" value="{_GET.end_date}">
							<img src="image/grid-cal.gif" alt="" class="v-middle" id="end_date_btn" />
						</div>
					</div>
				</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>
					<div class="input-field">
						<input type="text" name="order_customer_name" value="{_GET.order_customer_name}">
					</div>
				</th>
				<th>
					<div class="input-field">
						<input type="text" name="phone" value="{_GET.phone}">
					</div>
				</th>
				<th>&nbsp;</th>
				<th><button type="button" onclick="$('#search_form').submit();">过滤</button></th>
				</form>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN list AS info -->
			<tr>
				<td ><small>{info.id}</small></td>
				<td ><small>{info.target_id}</small></td>
				<td >&nbsp;{info.channel_name}</td>
				<td><small>{info.add_time}</small></td>
				<td><small>{info.total_money}</small></td>
				<td >&nbsp;{info.order_customer_name}</td>
				<td>
					共{info.total_quantity}个产品 [<a href="javascript:void(0);" ctype="expand">展开/收起</a>]
					<div class="HY-grid" style="display:;">
						<table cellspacing="0" class="data">
							<thead>
								<tr class="header">
									<th width="">产品</th>
									<th width="40">备注</th>
								</tr>
							</thead>
							<tbody>
								<!-- BEGIN info.list AS row -->
								<tr>
									<td align=""><small>{row.sku}</small> {row.sku_info.product.name}<br><font color="green">{row.sku_info.attribute}</font></td>
									<td align="center">{row.comment}</td>
								</tr>
								<!-- END info.list -->
							</tbody>
						</table>
					</div>
				</td>
				<td >
					<b>收货人：</b>{info.order_shipping_name}<br />
					<b>地址：</b>{info.order_shipping_address}<br />
					<b>邮编：</b>{info.order_shipping_zip}<br />
					<!-- IF trim(info.order_shipping_phone) --><b>电话：</b>{info.order_shipping_phone}<br /><!-- ENDIF -->
					<!-- IF trim(info.order_shipping_mobile) --><b>电话：</b>{info.order_shipping_mobile}<br /><!-- ENDIF -->
				</td>
				<td >&nbsp;{info.order_comment}</td>
				<td >
					<a href="?mod=order.edit&id={info.id}">编辑</a>
					<a href="?mod=order.import.collate.check&id={info.id}" onclick="confirm('确定要修改成已整理吗?');">确认整理</a>
				</td>
			</tr>
			<!-- END list -->
		</tbody>
	</table>
</div>


<script type="text/javascript">

var cal = new Zapatec.Calendar.setup({
	inputField     :    "begin_date",     // id of the input field
	ifFormat       :    "%Y-%m-%d",     // format of the input field
	showsTime      :     false,
	button         :    "begin_date_btn",  // trigger button (well, IMG in our case)
	weekNumbers    :    false,  // allows user to change first day of week
	firstDay       :    1, // first day of week will be Monday
	align          :    "Bl"           // alignment (defaults to "Bl")
});

var cal = new Zapatec.Calendar.setup({
	inputField     :    "end_date",     // id of the input field
	ifFormat       :    "%Y-%m-%d",     // format of the input field
	showsTime      :     false,
	button         :    "end_date_btn",  // trigger button (well, IMG in our case)
	weekNumbers    :    false,  // allows user to change first day of week
	firstDay       :    1, // first day of week will be Monday
	align          :    "Bl"           // alignment (defaults to "Bl")
});
</script>