<link href="css/cal/zpcal.css" rel="stylesheet" type="text/css">
<link href="css/cal/template.css" rel="stylesheet" type="text/css">
<link href="css/cal/maroon.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src='script/zapatec.js'></script>
<script type="text/javascript" src="script/calendar.js"></script>
<script type="text/javascript" src="script/calendar-zh.js"></script>

<div class="HY-main-columns clearfix">
	<div class="HY-main-columns-left">
		<div class="HY-content-header clearfix">
			<h3 class="icon-head head-categories">展示分类</h3>
			<div class="left">
				<!-- <button type="button" class="scalable" onclick="window.location='?mod={_GET.mod}';"><span>查看全部分类</span></button> -->
			</div>
		</div>

		<div style="margin-bottom:2px;margin-right:10px;" class="clearfix2">
			<div class="left">
				<input name="tree_search" id="tree_search" value="" class="input-text" type="text" style="width:100px;"/>
			</div>
			<div class="right">
				<button type="button" class="" onclick="ExpandAll();"><span>展开</span></button>
				<button type="button" class="" onclick="CollapseAll();"><span>收起</span></button>
			</div>
		</div>
		<div id="tree-list" style="margin-right:10px;"></div>

	</div>
	<div class="HY-main-columns-right">
		<div class="HY-content-header clearfix-overflow">
			<h3>展示商品列表(<!-- IF _GET.flag==-1 -->删除<!-- ELSE -->正常<!-- ENDIF -->)</h3>
			<div class="right">
			</div>
		</div>

		<div class="clearfix">
			<div class="right">
				<button type="button" onclick="$('#search_form').submit();">过滤</button>
				| 选中:
				<button type="button" class="" onclick="$('#list_form').attr('action','?mod=cms.product.flag&type=normal').submit();">恢复</button>
				<button type="button" class="" onclick="$('#list_form').attr('action','?mod=cms.product.flag&type=del').submit();">删除</button>
			</div>
		</div>
		<div class="block5"></div>

		<div class="HY-grid-title">
			<div class="HY-grid-title-inner">
				分页:{page_bar} 每页20条商品 总共{total}条商品 {page}/{page_num}
			</div>
		</div>
		<div class="HY-grid">
			<table cellspacing="0">
				<thead>
					<tr class="header">
						<!-- <th width="50">展示ID</th> -->
						<th width="50">商品ID</th>
						<th width="20"><input type="checkbox" onclick="if(this.checked){$('input[name=\'cms_product_id[]\']').attr('checked', true);}else{$('input[name=\'cms_product_id[]\']').attr('checked', false)}"/></th>
						<th width="32">&nbsp;</th>
						<th width=""><nobr>商品名称<nobr></th>
						<th width="60" align="center">排序号</th>
						<th width="60" align="center">价格</th>
						<th width="100" align="center">展示分类</th>
						<th width="100" align="center">产品分类</th>
						<th width="30" align="center"><nobr>状态</nobr></th>
						<th width="30" align="center"><nobr></nobr></th>
						<th width="80" align="center">操作</th>
					</tr>
					<tr class="filter">
						<form method="get" id="search_form">
						<th>
							<div class="input-field">
								<input type="text" name="pid" id="pid" value="{_GET.pid}">
							</div>
						</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>
							<div class="input-field">
								<input type="text" name="word" id="word" value="{_GET.word}">
							</div>
						</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>
							&nbsp;
							<input type="hidden" name="cid" value="{_GET.cid}">
							<input type="hidden" name="flag" value="{_GET.flag}">
							<input type="hidden" name="mod" value="{_GET.mod}">
						</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						</form>
					</tr>
				</thead>
				<form method="post" action="" id="list_form">
				<tbody>
					<!-- BEGIN product_list AS product -->
					<tr>
						<!-- <td><small>{product.cms_product_id}</small></td> -->
						<td><small>{product.id}</small></td>
						<td><input type="checkbox" name="cms_product_id[]" value="{product.cms_product_id}"></td>
						<td><img src="{product.image_list_url}" style="margin:2px;padding:1px;border:1px solid #333;width:24px;" align="absmiddle" /></td>
						<td>
							<a href="{SITE_URL}product/detail-{product.id}.html" target="_blank">{product.name}</a><br>
							<span style="font-size:11px;color:#ccc;">{product.attribute}</span>
						</td>
						<td align="center">
							{product.order_id}&nbsp;
						</td>
						<td align="center">
							<span class="small">{product.price}</span>
						</td>
						<td align="center">
							{product.cms_category}&nbsp;
						</td>
						<td align="center">
							{product.category}&nbsp;
						</td>
						<td align="center"><!-- IF product.cms_flag==1 --><font color="green">正常<font><!-- ELSE --><font color="red">删除<font><!-- ENDIF --></td>
						<td align="center">
							<!-- IF product.cms_flag==1 -->
							<a href="?mod=cms.product.flag&id={product.cms_product_id}&type=del" style="color:red" onclick="return window.confirm('确定删除?');">删除</a>
							<!-- ELSE -->
							<a href="?mod=cms.product.flag&id={product.cms_product_id}&type=normal" style="color:green">恢复</a>
							<!-- ENDIF -->
						</td>
						<td align="center">
							<a href="?mod=product.edit&id={product.id}">编辑</a> <!-- |
							<a href="?mod=cms.product.edit&id={product.id}">块编辑</a> -->
						</td>
					</tr>
					<!-- END product_list -->
				</tbody>
				</form>
			</table>
		</div>
	</div>
</div>


<link rel="stylesheet" type="text/css" href="script/ext/css/tree.css" />
<link rel="stylesheet" type="text/css" href="script/ext/css/menu.css" />
<link rel="stylesheet" type="text/css" href="script/ext/css/core.css" />

<style>
.x-tree-node,
.x-menu-item
{font-size:12px;}
</style>

<script type="text/javascript" src="script/ext/ext-base.js"></script>
<script type="text/javascript" src="script/ext/ext-all.js"></script>

<script language="JavaScript">

Ext.BLANK_IMAGE_URL = 'script/ext/s.gif';

var tree;

Ext.onReady(function(){
	tree = new Ext.tree.TreePanel({
		el:'tree-list',
		height: 600,
		useArrows:true,
		autoScroll:true,
		animate:true,
		enableDD:false,
		containerScroll: true,
		rootVisible: false,
		frame: false,
		bodyStyle: 'border:1px solid #ccc;',
		root: new Ext.tree.AsyncTreeNode(),
		loader: new Ext.tree.TreeLoader({
			dataUrl: '?mod=cms.category.list.json',
			preloadChildren: true,
			clearOnLoad: false
		})
	});

	tree.on('click',function(node,e){
		var id = node.attributes.id;
		window.location='?mod=cms.product.list&cid={0}&flag={_GET.flag}'.format(id);
	});

	tree.on('expandnode',function(node){
		if (node.childNodes.length>0){
			var treeCookie = GetCookie('ext_cms_tree_path');
			var pathList = treeCookie ? treeCookie.split(',') : (new Array());
			var path = node.getPath();

			if ($.inArray(path,pathList)==-1){
				pathList[pathList.length] = node.getPath();
				SetCookie('ext_cms_tree_path', pathList.join(','));
			}
		}
	});

	tree.on('collapsenode',function(node){
		if (node.childNodes.length>0){
			var treeCookie = GetCookie('ext_cms_tree_path');
			var pathList = treeCookie ? treeCookie.split(',') : (new Array());
			var path = node.getPath();

			pathList = $.map(pathList, function(p){
				if (p.substring(0, path.length) == path)
					return null;
				else
					return p;
			});

			SetCookie('ext_cms_tree_path', pathList.join(','));
		}
	});

	tree.getLoader().on('load',function(){
		var treeCookie = GetCookie('ext_cms_tree_path');
		var pathList = treeCookie ? treeCookie.split(',') : (new Array());
		for(var i=0; i<pathList.length;i++){
			tree.expandPath(pathList[i]);
		}

		var selectId = GetCookie('ext_cms_tree_id');

		if (selectId){
			var selectNode = tree.getNodeById(selectId);
			if (selectNode){
				<!-- IF _GET.cid -->
				selectNode.select();
				<!-- ENDIF -->
			}
		}
	});

	tree.on('click',function(node){
		SetCookie('ext_cms_tree_id', node.id);
	});

	tree.getRootNode().attributes.id = 0;
	tree.getRootNode().attributes.name = '根分类';

	tree.render();

	var filter = new Ext.tree.TreeFilter(tree, 
		{
			clearBlank: true,
			autoClear: true
		}
	);

	var input = Ext.get("tree_search");
	input.on('keydown', filterTree, input, {buffer:350});

	var hiddenPkgs  = [];
	var markCount	= [];

	// filter the tree for hits
	function filterTree(e){
		var text = e.target.value;
		Ext.each(hiddenPkgs, function(n){
			n.ui.show();
		});
		
		markCount  = [];	
		hiddenPkgs = [];
		
		if( text.trim().length > 0 ){
			tree.expandAll();

			var re = new RegExp( Ext.escapeRe(text), 'i');
			tree.root.cascade( function( n ){
				if( re.test(n.text) )
					markToRoot( n, tree.root );
			});

			// hide empty packages that weren't filtered		
			tree.root.cascade(function(n){
				if( ( !markCount[n.id] || markCount[n.id] == 0 ) && n != tree.root ){
					n.ui.hide();
					hiddenPkgs.push(n);
				}
			});
		}
	}

	function markToRoot( n, root ){
		
		if( markCount[n.id] )
			return;
		markCount[n.id] = 1;

		if( n.parentNode != null )
			markToRoot(n.parentNode, root);
	}
});

function ExpandAll(){
	tree.getRootNode().expand(true);
}

function CollapseAll(){
	tree.getRootNode().collapseChildNodes(true);
	SetCookie('ext_cms_tree_path','');
	SetCookie('ext_cms_tree_id','');
}

</script>