<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<style type="text/css">

body{
	padding:0px 0px;
}

*{
	padding:0px;
	margin:0px;
	font-family:"宋体";
	font-size:12px;
}

a{
	color:#0066CC;
	text-decoration:underline;
}

a:hover{
	color:#FF7031;
	text-decoration:none;
}

h3{
	font-size:14px;
	font-weight:bold;
	color:#444;
	margin-bottom:10px;
}

input {
	vertical-align:middle;
	padding:3px;
}

input.in{
	padding:2px;
	width:220px;
	border:1px solid #ccc;
	height:20px;
	padding-top:10px;
}

select{
	padding:3px;
	/*font-size:11px;*/
}

input.btn {
	cursor:pointer;
	height:28px;
}

.img{
	border:1px solid #ccc;
	padding:2px;
}

ul {list-style-image:none;list-style-position:none;list-style-type:none;}

#tab{
	width:960px;
}

#tab td{
	padding:4px;
}

#tab th{
	padding:2px;
}

.xiaofw_p1 td{font-size:16px;}
.xiaofw_p2 span{font-size:13px;float:left; padding:3px 10px;font-weight:normal;}
.xiaofw_p3 td{font-size:16px; font-weight:bold;}
.xiaofw_p3 td span{font-weight:normal;font-size:16px; }
</style>

</head>


<body>

<!-- #0 AS line -->
<!-- #1 AS timer -->
<!-- #count(list) AS total -->

<!-- BEGIN list AS val -->
<div style="margin:0px auto;width:870px; display:table;padding-left:30px;position:relative;">
<div style=" position:absolute;width:50px;left:0px;top:0px;height:600px;border-bottom:#000000 1px solid;"></div>
<div style=" position:absolute;width:50px;right:0px;top:0px;height:600px;border-bottom:#000000 1px solid;"></div>
<table border="0" width="750" align="center" style="margin:0px auto;">
	<tr>
<td align="center" style="height:40px;padding-top:5px;font-size:30px;letter-spacing:15px; font-weight:bold;">{company_name}支出证明单</td>
	</tr>
</table>
<table border="0" width="750" align="center" style="margin:0px auto 10px;">
	<tr>
		<td align="center" style="font-size:18px; text-align:right;" valign="top">{#DateFormat(time(),'Y')} 年 {#DateFormat(time(),'m')} 月 {#DateFormat(time(),'d')} 日　　　　　　　　　　</td>
	</tr>
</table>
<table border="0" width="750" align="center" style="margin:0px auto;">
	<tr>
		<td align="left" width="300" style="font-size:15px;">项目名称：<b style="font-size:15px;">
		<!-- IF val.channel_name  -->{val.channel_name}<!-- ELSE --><!-- ENDIF -->
		</b></td>
		<td align="left" style="font-size:15px;">项目编号：</td>
		<td align="right" style="font-size:15px;">增票(&nbsp;&nbsp;)　普票(&nbsp;&nbsp;)　无票(&nbsp;&nbsp;)　税率(&nbsp;&nbsp;)</td>
	</tr>
</table>
<table width="750"  border="1" align="center" cellpadding="0" cellspacing="0" bgcolor="#333333" style="margin:0 auto 0px;">
<tr>
<td rowspan="2" align="center" bgcolor="#FFFFFF" height="40">摘　　　　要</td>
<td colspan="10" align="center" bgcolor="#FFFFFF" height="20">金　　额</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">千</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">百</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">十</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">万</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">千</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">百</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">十</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">元</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">角</td>
<td align="center" bgcolor="#FFFFFF" height="20" width="20">分</td>
</tr>

<!-- #0 AS num -->
<!-- BEGIN val.product AS row -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2"><span>{row.productName}　*{row.totalQuantity}　[单价：{row.productPrice}]</span></td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,8)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,7)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,6)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,5)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,4)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,3)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,2)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,1)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(row.totalPrice,9)}</td>
<td align="center" bgcolor="#FFFFFF" height="30">{#markMoney(row.totalPrice,10)}</td>
</tr>
<!-- #num+1 AS num -->
<!-- END val.product -->

<!-- IF val.costPrice>0 -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2"><span>运费</span></td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,8)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,7)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,6)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,5)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,4)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,3)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,2)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,1)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.costPrice,9)}</td>
<td align="center" bgcolor="#FFFFFF" height="30">{#markMoney(val.costPrice,10)}</td>
</tr>
<!-- #num+1 AS num -->
<!-- ENDIF -->

<!-- IF num < 5 -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF" height="30">&nbsp;</td>
</tr>
<!-- #num+1 AS num -->
<!-- ENDIF -->
<!-- IF num < 5 -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF" height="30">&nbsp;</td>
</tr>
<!-- #num+1 AS num -->
<!-- ENDIF -->
<!-- IF num < 5 -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF" height="30">&nbsp;</td>
</tr>
<!-- #num+1 AS num -->
<!-- ENDIF -->
<!-- IF num < 5 -->
<tr class="xiaofw_p1">
<td align="left" bgcolor="#FFFFFF" class="xiaofw_p2">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF">&nbsp;</td>
<td align="center" bgcolor="#FFFFFF" height="30">&nbsp;</td>
</tr>
<!-- #num+1 AS num -->
<!-- ENDIF -->

<tr class="xiaofw_p3">
<td align="left" bgcolor="#FFFFFF" width="550" style="font-size:14px;">&nbsp;<span>合计：(大写)　{#CapsMoney(val.totalMoney)}</span></td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,8)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,7)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,6)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,5)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,4)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,3)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,2)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,1)}</td>
<td align="center" bgcolor="#FFFFFF">{#markMoney(val.totalMoney,9)}</td>
<td align="center" bgcolor="#FFFFFF" height="40">{#markMoney(val.totalMoney,10)}</td>

</tr>
<tr>
<td height="25" colspan="11" align="left" bgcolor="#FFFFFF" style="font-size:14px;">
&nbsp;付款种类：采购□　　　　　　　运费□　　　　　　　样品□　　　　　　　日常费用□　　　　　　　其他□</td>
</tr>
<tr>
<td height="25" colspan="11" align="left" bgcolor="#FFFFFF" style="font-size:14px;">
&nbsp;付款方式：现金□　　　　　　　　　　转账支票□　　　　　　　　　　转账汇款□　　　　　　　　　其他□</td>
</tr>
<tr>
<td height="25" colspan="11" align="left" bgcolor="#FFFFFF">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2" align="left" style="font-size:14px;">&nbsp;收款公司：{info.supplier_name}</td>
    <td align="left" style="font-size:13px; padding-top:3px;">开户行：{info.supplier_account_bank}</td>
  </tr>
  <tr>
    <td align="left" style="font-size:13px; padding-bottom:3px; padding-top:2px;">帐　号：{info.supplier_account_number}</td>
  </tr>
</table>


</td>
</tr>
<tr>
<td height="25" colspan="11" align="left" bgcolor="#FFFFFF" style="font-size:14px;">&nbsp;结算方式：月结□　　　　　　　　　　　　　　　　　　现结□　　　　　　　　　　　　　　　　　　其他□</td>
</tr>
</table>
<table border="0" width="750" align="center" style="margin:5px auto 0px;">
<tr>
<td align="left" style="font-size:14px;">总经理：</td>
<td align="left" style="font-size:14px;">经理：　</td>
<td align="left" style="font-size:14px;">财务主管：</td>
<td align="left" style="font-size:14px;">出纳：　</td>
<td align="left" style="font-size:14px;">经办人：</td>
<td align="left" style="font-size:14px;">领款人：</td>
</tr>
</table>
</div>


<!-- #timer+1 AS timer -->
<!-- #line+1 AS line -->

<!-- IF timer <= total -->
<hr style="page-break-after:always;color:#FFFFFF;border:#FFFFFF; background:#FFFFFF;"/>
<!-- ENDIF -->

<!-- IF timer <= total && line==1 -->


<!-- ENDIF -->

<!-- IF line == 2 -->
<!-- #0 AS line -->
<!-- ENDIF -->



<!-- END list -->

</body>
</html>