<div class="HY-content-header clearfix">
	<h3>全局模块</h3>
	<p class="right">
		<button type="button" class="scalable save" onclick="$('form').submit();"><span>保存数据</span></button>
	</p>
</div>

<form method="post" enctype="multipart/form-data">
<div class="HY-form-table" id="price_tab">
	<div class="HY-form-table-header">
		全局模块
	</div>
	<div class="HY-form-table-main">
		<table cellspacing="0" class="HY-form-table-table">
			<tbody>
				<tr>
					<td class="label"><label>全局热门关键字<span class="required">*</span></label></td>
					<td class="value"><textarea name="global_search_word" id="global_search_word" class="textarea" rows="2" cols="10" style="width:400px;height:80px;">{module.global_search_word}</textarea></td>
					<td class="note">
						一行一个关键字
					</td>
				</tr>
				<tr>
					<td class="label"><label>全局推荐产品<span class="required">*</span></label></td>
					<td class="value"><textarea name="global_commend_product" id="global_commend_product" class="textarea" rows="2" cols="10" style="width:400px;height:80px;">{module.global_commend_product}</textarea></td>
					<td class="note">
						一行一个产品,格式如下"<font size="" color="#FF3300">123|奥迪</font>"<br>
						前一个参数是产品ID,后面是重命名的标题(可以省略)
					</td>
				</tr>
				<tr>
					<td class="label"><label>全局热销产品<span class="required">*</span></label></td>
					<td class="value"><textarea name="global_hot_product" id="global_hot_product" class="textarea" rows="2" cols="10" style="width:400px;height:80px;">{module.global_hot_product}</textarea></td>
					<td class="note">
						一行一个产品,格式如下"<font size="" color="#FF3300">123|奥迪</font>"<br>
						前一个参数是产品ID,后面是重命名的标题(可以省略)
					</td>
				</tr>
				<tr>
					<td class="label"><label>购物车推荐产品<span class="required">*</span></label></td>
					<td class="value"><textarea name="global_cart_commend_product" id="global_cart_commend_product" class="textarea" rows="2" cols="10" style="width:400px;height:80px;">{module.global_cart_commend_product}</textarea></td>
					<td class="note">
						一行一个产品,格式如下"<font size="" color="#FF3300">123|奥迪</font>"<br>
						前一个参数是产品ID,后面是重命名的标题(可以省略)
					</td>
				</tr>
				<tr>
					<td class="label"><label>邮件推荐产品<span class="required">*</span></label></td>
					<td class="value"><textarea name="global_mail_commend_product" id="global_mail_commend_product" class="textarea" rows="2" cols="10" style="width:400px;height:80px;">{module.global_mail_commend_product}</textarea></td>
					<td class="note">
						一行一个产品,格式如下"<font size="" color="#FF3300">123|奥迪</font>"<br>
						前一个参数是产品ID,后面是重命名的标题(可以省略)
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</form>
