<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<form method=post action="">
<div style="float:left;width:150px;height:100px; padding:5px;border:#000000 5px solid; background:#FFFFFF;">
<input style="margin:5px auto;width:140px;" type="text" name="name" size="30" value="" />
<input style="margin:5px auto;width:140px;" type="password" name="password" size="20" value="" />
<input style="margin:5px auto;width:140px;" type="submit" value="确定" />
</div>
</form>

</body>
</html>