


<div class="HY-content-header clearfix">
	<h3 class="head-tax-rule">支付日志详情</h3>
	<p class="right">
	</p>
</div>

<form method="post" enctype="multipart/form-data">
<div class="HY-form-table">
	<div class="HY-form-table-header">
		支付日志详情
	</div>
	<div class="HY-form-table-main">
		<table cellspacing="0" class="HY-form-table-table">
			<tbody>
				<tr>
					<td class="label"><label>订单数据<span class="required">*</span></label></td>
					<td class="">
						<pre>
							{info.order_info}
						</pre>
					</td>
				</tr>
				<tr>
					<td class="label"><label>请求故据<span class="required"></span></label></td>
					<td class="">
						<pre>
							{info.request_info}
						</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</form>