
<div class="HY-content-header clearfix">
	<h3>修改货位</h3>
	<p class="right">
		<button type="button" class="scalable save" onclick="$('form').submit();"><span>保存数据</span></button>
	</p>
</div>

<form method="post" enctype="multipart/form-data">
<div class="HY-form-table" id="price_tab">
	<div class="HY-form-table-header">
		修改货位
	</div>
	<div class="HY-form-table-main">
		<table cellspacing="0" class="HY-form-table-table">
			<tbody>
				<tr>
					<td class="label"><label>货位名称<span class="required">*</span></label></td>
					<td class="value">
						<input name="name" id="name" value="{info.name}" class="input-text" type="text" style="width:150px;"/>
					</td>
					<td><small>&nbsp;</small></td>
				</tr>
				<tr>
					<td class="label"><label>别名<span class="required">*</span></label></td>
					<td class="value">
						<input name="nick_name" id="nick_name" value="{info.nick_name}" class="input-text" type="text" style="width:150px;"/> (如：手机；质检货位；销退货位...)
					</td>
					<td><small>&nbsp;</small></td>
				</tr>
				<tr>
					<td class="label"><label>所在库房<span class="required"></span></label></td>
					<td class="value">
						<select name="warehouse_id" disabled>
							<!-- BEGIN list AS val -->
							<option value="{val.id}" <!-- IF val.id==info.warehouse_id -->selected<!-- ENDIF -->>{val.name}</option>
							<!-- END list -->
						</select>
					</td>
					<td><small>&nbsp;</small></td>
				</tr>
				<tr>
					<td class="label"><label>不参与出库<span class="required"></span></label></td>
					<td class="value">
						<input type="radio" name="no_delivery" value="1" <!-- IF info.no_delivery -->checked<!-- ENDIF -->>是
						<input type="radio" name="no_delivery" value="0" <!-- IF !info.no_delivery -->checked<!-- ENDIF -->>否
					</td>
					<td><small>&nbsp;</small></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</form>