<div class="HY-content-header clearfix">
	<h3 class="head-tax-rule">广发银行月报（孙江琳）</h3>
</div>


<form method="POST" id="main_form">
<input type="hidden" name="mod" value="{_GET.mod}"><input type="hidden" name="excel" id="excel" value="0">
<div class="HY-form-table" id="price_tab">
	<div class="HY-form-table-main">
		<table cellspacing="0" class="HY-form-table-table">
			<tbody>
				<tr>
					<td width="100" align="right">订单日期开始：</td>
					<td align="left" width="180">
						<input name="begin_date" id="begin_date" value="{_POST.begin_date}" class="input-text" type="text" style="width:150px;"/> <img src="image/grid-cal.gif" id="begin_date_btn" align="absmiddle"/>
					</td>
					<td width="120" align="right">订单期单结束：</td>
					<td align="left" width="180">
						<input name="end_date" id="end_date" value="{_POST.end_date}" class="input-text" type="text" style="width:150px;"/> <img src="image/grid-cal.gif" id="end_date_btn" align="absmiddle"/>
					</td>
					<td width="80" align="right" style="display:none">父渠道：</td>
					<td align="left" width="80"  style="display:none">
						<select name="channel_parent_id">
							<option value=""></option>
							<!-- BEGIN channel_parent_list AS val -->
							<option value="{val.id}" <!-- IF val.id==_GET.channel_parent_id  -->selected<!-- ENDIF -->>{val.name}</option>
							<!-- END channel_parent_list -->
						</select>
					</td>
					<td width="150" align="right">
						<button type="button" onclick="$('#main_form').submit();">确定查询</button>
						
					</td>
					<td><button style="float:right;" type="button" onclick="$('#excel').val(1);$('#main_form').submit();$('#excel').val(0);">导出</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</form>

<link href="css/cal/zpcal.css" rel="stylesheet" type="text/css">
<link href="css/cal/template.css" rel="stylesheet" type="text/css">
<link href="css/cal/maroon.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src='script/zapatec.js'></script>
<script type="text/javascript" src="script/calendar.js"></script>
<script type="text/javascript" src="script/calendar-zh.js"></script>

<script language="JavaScript">

$(document).ready(function(){
	$('#add-btn').click(function(){
		AddProductToRow();
	});
});




</script>


<script type="text/javascript">

var cal = new Zapatec.Calendar.setup({
	inputField     :    "begin_date",     // id of the input field
	ifFormat       :    "%Y-%m-%d",     // format of the input field
	showsTime      :     false,
	button         :    "begin_date_btn",  // trigger button (well, IMG in our case)
	weekNumbers    :    false,  // allows user to change first day of week
	firstDay       :    1, // first day of week will be Monday
	align          :    "Bl"           // alignment (defaults to "Bl")
});

var cal = new Zapatec.Calendar.setup({
	inputField     :    "end_date",     // id of the input field
	ifFormat       :    "%Y-%m-%d",     // format of the input field
	showsTime      :     false,
	button         :    "end_date_btn",  // trigger button (well, IMG in our case)
	weekNumbers    :    false,  // allows user to change first day of week
	firstDay       :    1, // first day of week will be Monday
	align          :    "Bl"           // alignment (defaults to "Bl")
});
</script>



<div class="HY-grid">
	<table cellspacing="0" class="data" id="grid_table">
		<thead>
			<tr class="header">
				<td align="center" width="30" >序号</td>
				<td align="center" width="100">日期</td>
				<td align="center" width="100">有效成功<br />数量/总金额</td>
				<td align="center" width="100">外呼取消<br />数量/总金额</td>
				<td align="center" width="100">售后退货中<br />数量/总金额</td>
				<td align="center" width="100">售后退货完毕<br />数量/总金额</td>
				<td align="center" width="100">全部信息<br />数量/金额</td>
				<td align="left" >&nbsp;</td>
			</tr>
		</thead>
<!-- BEGIN list AS val -->
<tr>
<td align="center">{val.list}</td>
<td align="center">{val.nowday}</td>
<td align="center">{val.totalNum}<br />{val.totalMoney}</td>
<td align="center">{val.totalNum_del}<br />{val.totalMoney_del}</td>
<td align="center">{val.totalNum_re}<br />{val.totalMoney_re}</td>
<td align="center">{val.totalNum_reover}<br />{val.totalMoney_reover}</td>
<td align="center">{val.totalNums}<br />{val.totalMoneys}</td>
<td>
<!-- BEGIN val.orderList AS row -->
<span style="float:left; padding-right:15px;"><a title="{row.orderTargetID}" href="?mod=order.list_all&id={row.orderID}" target="_blank">{row.orderID}</a></span>
<!-- END val.orderList -->
</td>
</tr>
<!-- END list -->

	</table>
</div>

