

<div class="HY-content-header clearfix-overflow">
	<h3>{warehouse_info.name} 查看收货单</h3>
	<div class="right">
		
	</div>
</div>

<form method="post" id="main_form">

<div class="clearfix">
	<div class="left">
		<b>收货人：</b>{info.user_name}&nbsp;&nbsp;
		<b>日期：</b>{#DateFormat(info.add_time)}&nbsp;&nbsp;
		<b>收货类型：</b>{info.type_name}&nbsp;&nbsp;
	</div>
	<div class="right">
		
	</div>
</div>
<div class="block5"></div>

<div class="HY-grid-title">
	<div class="HY-grid-title-inner">
		收货商品列表
	</div>
</div>
<div class="HY-grid">
	<table cellspacing="0">
		<thead>
			<tr class="header">
				<th width="100">商品ID</th>
				<th width="120">SKU</th>
				<th width=""><nobr>商品名称<nobr></th>
				<th width="100">收货数量</th>
				<th width="100">入库数量</th>
			</tr>
		</thead>
		<tbody id="purchase_row">
			<!-- BEGIN list AS val -->
			<tr id="row_{1}">
				<td><small>{val.product_id}</small></td>
				<td><small>{val.sku}</small></td>
				<td>
					<b>名称：</b>{val.sku_info.product.name}
					<br>
					<span><!-- IF val.sku_info.attribute --><b>属性：</b>{val.sku_info.attribute}<!-- ENDIF --></span>
				</td>
				<td align="center">
					{val.quantity}
				</td>
				<td align="center">
					{val.into_quantity}
				</td>
			</tr>
			<!-- END list -->
		</tbody>
	</table>
</div>

<div class="HY-form-table" id="base_tab">
	<div class="HY-form-table-header">
		其他
	</div>
	<div class="HY-form-table-main">
		<table cellspacing="0" class="HY-form-table-table">
			<tbody>
				<tr>
					<td class="label"><label>备注</label></td>
					<td class="value">
						{info.comment}
					</td>
					<td><small>&nbsp;</small></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>