<div class="HY-content-header clearfix">
	<h3 class="head-tax-rule">供应商列表 </h3>
	<p class="right">
	</p>
</div>

<div class="HY-grid-title" style="display:none">
	<div class="HY-grid-title-inner">
		分页:{page_bar} 每页20条记录 总共{total}条记录 {page}/{page_num}
	</div>
</div>
<div class="HY-grid">
	<table cellspacing="0" class="data" id="grid_table">
		<thead>
			<tr class="header">
			<th width="40"><div align="center">序号</div></th>
				<th width="80">产品经理</th>
				<th width="">公司名称</th>
				<th width="120">采购总金额</th>
				<th width="120">付款总金额</th>
				<th width="120">应付款总金额</th>
				<th width="120">已请款</th>
				<th width="120">未请款</th>
				<th width="120">发票信息</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN list AS supplierinfo -->
			<!-- IF supplierinfo.supplier_money.total_money>0 -->
			<tr>
			<td align="center">{supplierinfo.id}</td>
				<td >{supplierinfo.manage_name}</td>
				<td >{supplierinfo.name}</td>
				<td>
				货款：{#FormatMoney(supplierinfo.supplier_money.total_money.total_money)}<br />
				运费：{#FormatMoney(supplierinfo.supplier_money.total_money.total_cost)}<br />
				合计：<font color="#FF0000">{#FormatMoney(supplierinfo.supplier_money.total_money.all_money)}</font>
				</td>
				<td >
				货款：{#FormatMoney(supplierinfo.supplier_money.pay_money.pay_total_money)}<br />
				运费：{#FormatMoney(supplierinfo.supplier_money.pay_money.pay_total_cost)}<br />
				合计：<font color="#FF0000">{#FormatMoney(supplierinfo.supplier_money.pay_money.pay_all_money)}</font>
				</td>
				<td >
				货款：{#FormatMoney(supplierinfo.supplier_money.yfk_money.yfk_total_money)}<br />
				运费：{#FormatMoney(supplierinfo.supplier_money.yfk_money.yfk_total_cost)}<br />
				合计：<font color="#FF0000">{#FormatMoney(supplierinfo.supplier_money.yfk_money.yfk_all_money)}</font>
				</td>
				<td >
				货款：{#FormatMoney(supplierinfo.supplier_money.ready_money.ready_total_money)}<br />
				运费：{#FormatMoney(supplierinfo.supplier_money.ready_money.ready_total_cost)}<br />
				合计：<font color="#FF0000">{#FormatMoney(supplierinfo.supplier_money.ready_money.ready_all_money)}</font>
				</td>
				<td >
				货款：{#FormatMoney(supplierinfo.supplier_money.wqk_money.wqk_total_money)}<br />
				运费：{#FormatMoney(supplierinfo.supplier_money.wqk_money.wqk_total_cost)}<br />
				合计：<font color="#FF0000">{#FormatMoney(supplierinfo.supplier_money.wqk_money.wqk_all_money)}</font>
				</td>
				<td >
				<a href="?mod=purchase.supplierInvoice&id={supplierinfo.id}" target="_blank">管理</a><br />
				已开：{#FormatMoney(supplierinfo.supplier_invoice)}<br />
				未开：{#FormatMoney(supplierinfo.supplier_invoice_no)}
				</td>
			</tr>
			<!-- ENDIF -->
			<!-- END list -->
		</tbody>
	</table>
</div>

